/* Header
   ========================================================================== */

.page-footer {
  background: $footer-bg;
  color: $footer-color;

  &__container {
   max-width: $width-content;
   margin: 0 auto;
   padding: 2rem 1rem 4rem;
  }
}
