/* Variables
   ========================================================================== */

// Scaffolding
// -------------------------
$body-bg:    #fff;
$text-color: #000;

$width-content: 71.25rem;

// Fonts
// -------------------------

$font-family-base: Helvetica, Arial, sans-serif;
$font-family-text: Georgia, Times;

$font-size-base: 1rem;

$font-size-h1: 1.9rem;
$font-size-h2: 3.5rem;
$font-size-h3: 1.1rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1rem;


// Buttons
// -------------------------

$btn-primary-bg:           #0072ba;
$btn-primary-color:        #fff;
$btn-primary-color--hover: #025a92;

// Header
// -------------------------

$header-bg: #000;
$header-color: #fff;

$logo-color: #fff;

// Navigation
// -------------------------

$nav-color: #fff;
$nav-bg--hover: #272727;
$nav-font-size: .95rem;

// Story preview
// -------------------------

$preview-color: #fff;


// Advertisment
// -------------------------

$advertisment-color: #fff;

// Footer
// -------------------------

$footer-bg: #000;
$footer-color: #fff;
