/* Advertisment
   ========================================================================== */

.advertisment {
   margin-left: 3.125rem;
   width: 300px;
   height: 250px;

   &__img {
     display: block;
   }

   @include mq('desktop') {
     margin: 0 auto 2rem;
   }
}
