/* Buttons
   ========================================================================== */

.button {
  border: none;
  border-radius: .5rem;
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  padding: .5rem .75rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  &--primary {
    background: $btn-primary-bg;
    color: $btn-primary-color;

    &:hover {
      background-color: $btn-primary-color--hover;
    }
  }
}
