/* Story content
   ========================================================================== */

.story-content {
  @include flexbox;

  @include mq('desktop') {
    @include flex-direction(column);
  }

  &__inner {
    font-family: $font-family-text;
  }

 &__item {
   line-height: 1.5rem;
   margin: 0 0 1.75rem 0;
   padding: 0;

   &--preview {
     font-size: 1.25rem;
     line-height: 1.75rem;
   }
 }

 &__header {
   font-family: $font-family-base;
   font-weight: 600;
   line-height: 1.5rem;
   margin: 0;
   padding: 0;
 }
}
