/* Story preview
   ========================================================================== */

.story-preview {
  position: relative;
  margin-bottom: 2.5rem;

  &__picture {
    margin: 0;
    padding: 0;
  }

  &__img {
    background: #000;
    display: block;
    min-height: 20rem;
    width: 100%;
  }

  &__summary {
    bottom: 0;
    box-shadow: inset 0 -12rem 8rem -3rem #000;
    color: $preview-color;
    left: 0;
    right: 0;
    padding: 1.75rem;
    position: absolute;
    text-align: center;

    @include mq('tablet') {
      box-shadow: none;
      color: $text-color;
      padding: 0;
      position: relative;
    }
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: $font-size-h2;
    font-weight: 600;
    margin: 0 0 .5rem 0;
    padding: 0;

    @include mq('phone') {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  &__subtitle {
    font-size: 1.55rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  &__footer {
    margin-bottom: 1.5rem;
  }

  &__info {
    font-size: 0.9rem;
    color: #dedede;
    margin: 0;

    &__time {
      &::before {
        content: "\0020\007C\0020"
      }
    }

    @include mq('tablet') {
      color: $text-color;
    }
  }

  .button {
    cursor: pointer;
    padding: .6rem 3rem;
  }
}
